#paragraph_generator {
    @apply px-4 md:px-0;
}

#paragraph_generator .control-indicator-wrapper {
    @apply grid grid-cols-5 gap-4 text-center my-4;
}

#paragraph_generator .paragraph {
    @apply mt-4 text-justify text-sm md:text-lg;
}

#paragraph_generator .send {
    @apply w-full h-12 shadow sm:h-14 hover:scale-105 transform transition justify-center inline-flex items-center px-3 py-4 border border-transparent md:text-2xl leading-4 rounded-md shadow-sm text-white font-bold bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
}

#paragraph_generator .control {
    @apply col-span-2 hover:scale-105 transform transition text-gray-800 font-medium md:text-lg font-bold bg-gray-200 hover:bg-gray-300 py-3 rounded-lg border border-transparent leading-4 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}

#paragraph_generator .indicator {
    @apply md:text-4xl text-3xl my-auto;
}